/* Full bleed */

    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; /* get rid of extra space on the right */
    }

/* Responsively positioning top and bottom dots and main content */

    .flex-between {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }

    .top {
      margin-top: 0.5%;
    }

    .bottom {
      margin-top: 0.5%;
    }

/* Styling for first slide */

    body {
      background-color: black;
    }

    h1, h2 {
      color: white;
      text-align: center;
    }

    h1 {
      font-family: 'Roboto Slab', serif;
      font-size: 16vmin;
    }

    h2 {
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
      font-size: 4vmin;
      letter-spacing: 0.15em;
    }

    .slide-container {
      width: 100%;
      height: 85vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

/* Styling for slideshow */

    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
      position: relative;
    }

    /* Hide the slides by default */
    .mySlides {
        display: none;
    }

    /* nav dots / film perforations */

    .dot-container {
      text-align:center;
      margin-left: -10%;
      margin-right: -10%;
    }

    .dot {
      cursor: pointer;
      width: 2.5vw;
      height: 3vw;
      margin-left: 2.2%;
      margin-right: 2.2%;
      background-color: white;
      border-radius: 15%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #940000;
    }

/* Styling for twine that film is hung on */

    .twine {
      width: 100%;
      height: 15vh;
      margin-top: -63vh;
      z-index: 0;
    }

/* Styling for clothespins */

    .left-cp {
      height: 15%;
      width: auto;
      position: absolute;
      left: 30vw;
      top: 6vh;
      z-index: 2;
    }

    .right-cp {
      height: 15%;
      width: auto;
      position: absolute;
      left: 70vw;
      top: 6vh;
      z-index: 2;
    }

/* Styling for paper */
    .paper {
      background-color: white;
      position: absolute;
      width: 60vw;
      height: 60vh;
      top: 16.5vh;
      left: 20vw;
      z-index: 1;
      overflow: hidden;
    }

/* Styling for content on paper */

    .header-txt, .supplies {
      text-align: center;
    }

    .header-txt {
      font-family: 'Roboto Slab', serif;
      font-size: 5vmin;
      font-weight: 700;
    }

    .body-txt, body .ui-tooltip {
      font-family: 'Roboto', sans-serif;
      font-size: 2vmin;
      font-weight: lighter;
      padding-left: 6%;
      padding-right: 6%;
      margin-top: -2%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: -2%;
    }

    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #step1 {
      margin-top: 5%;
      width: 40%;
    }

    #step2 {
      margin-top: -2%;
      height: 50%;
    }

    #step3 {
      margin-top: 2.5%;
      height: 50%;
    }

    #step4 {
      margin-top: 2%;
      height: 45%;
    }

    #step5 {
      margin-top: 3.5%;
      height: 45%;
    }

    #step6, #step7 {
      margin-top: 3%;
      height: 45%;
    }

    #step8 {
      height: 45%;
    }

/* Tooltip styling */

    body .ui-tooltip {
    	opacity: 1;
      padding-left: 1%;
      padding-right: 1%;
      background-color: #940000;
      color: white;
    }

/* Positioning twine for the quiz */

    #twine1 {
      width: 100%;
      height: 10vh;
      z-index: 0;
    }

    #twine2 {
      width: 100%;
      height: 10vh;
      margin-top: 32vh;
      z-index: 0;
    }

/* Positioning sheets for the quiz */

    /* General */

    #quiz-instructions .left-cp, #quiz-instructions .right-cp,
    #bank .left-cp, #bank .right-cp,
    #sheet1 .left-cp, #sheet1 .right-cp,
    #sheet2 .left-cp, #sheet2 .right-cp,
    #sheet3 .left-cp, #sheet3 .right-cp {
      height: 9%;
      top: 2vh;
    }

    #quiz-instructions .paper,
    #bank .paper,
    #sheet1 .paper,
    #sheet2 .paper,
    #sheet3 .paper {
      width: 15vw;
      min-width: 70px;
      height: 30vh;
      top: 7.7vh;
    }

    #sheet4 .left-cp, #sheet4 .right-cp,
    #sheet5 .left-cp, #sheet5 .right-cp,
    #sheet6 .left-cp, #sheet6 .right-cp,
    #sheet7 .left-cp, #sheet7 .right-cp,
    #sheet8 .left-cp, #sheet8 .right-cp {
      height: 9%;
      top: 43.95vh;
    }

    #sheet4 .paper,
    #sheet5 .paper,
    #sheet6 .paper,
    #sheet7 .paper,
    #sheet8 .paper {
      width: 15vw;
      min-width: 70px;
      height: 30vh;
      top: 49.7vh;
    }

    #quiz-instructions .paper {
      background-color: #940000;
    }

    #quiz-instructions > div > p {
      color: white;
    }

    #sheet1 .paper, #sheet2 .paper, #sheet3 .paper, #sheet4 .paper,
    #sheet5 .paper, #sheet6 .paper, #sheet7 .paper, #sheet8 .paper {
      background-color: #ffbcbc;
    }

    /* Instructions sheet */

    #quiz-instructions .left-cp { left: 6vw; }

    #quiz-instructions .right-cp { left: 18vw; }

    #quiz-instructions .paper { left: 4.85vw; }

    /* Options sheet */

    #bank .left-cp { left: 24vw; }

    #bank .right-cp { left: 36vw; }

    #bank .paper { left: 22.85vw; }

    /* Sheet 1 */

    #sheet1 .left-cp { left: 42vw; }

    #sheet1 .right-cp { left: 54vw; }

    #sheet1 .paper { left: 40.85vw; }

    /* Sheet 2 */

    #sheet2 .left-cp { left: 60vw; }

    #sheet2 .right-cp { left: 72vw; }

    #sheet2 .paper { left: 58.85vw; }

    /* Sheet 3 */

    #sheet3 .left-cp { left: 78vw; }

    #sheet3 .right-cp { left: 90vw; }

    #sheet3 .paper { left: 76.85vw; }

    /* Sheet 4 */

    #sheet4 .left-cp { left: 6vw; }

    #sheet4 .right-cp { left: 18vw; }

    #sheet4 .paper { left: 4.85vw; }

    /* Sheet 5 */

    #sheet5 .left-cp { left: 24vw; }

    #sheet5 .right-cp { left: 36vw; }

    #sheet5 .paper { left: 22.85vw; }

    /* Sheet 6 */

    #sheet6 .left-cp { left: 42vw; }

    #sheet6 .right-cp { left: 54vw; }

    #sheet6 .paper { left: 40.85vw; }

    /* Sheet 7 */

    #sheet7 .left-cp { left: 60vw; }

    #sheet7 .right-cp { left: 72vw; }

    #sheet7 .paper { left: 58.85vw; }

    /* Sheet 8 */

    #sheet8 .left-cp { left: 78vw; }

    #sheet8 .right-cp { left: 90vw; }

    #sheet8 .paper { left: 76.85vw; }

/* Styling for content on paper in the quiz */
    .quiz .header-txt {
      font-size: 3.75vmin;
    }

/* Quiz - Options and Answers
Adapted from https://codepen.io/cgspicer/pen/ahnHi */

    .quiz-wrapper {
      height: 85vh;
      margin-top: -28.5%;
    }

    .quiz-wrapper ul.options {
      vertical-align: top;
      width: 165px;
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .quiz-wrapper ul.options li.option {
      display: block;
      position: relative;
      z-index: 50;
    }

    .quiz-wrapper .answers {
      display: inline-block;
      width: 335px;
      line-height: 20px;
    }

    .quiz-wrapper .answers .target {
      display: inline-block;
      width: 14.8vw;
      min-width: 70px;
      height: 18vh;
      margin: 0 3px;
      text-align: center;
    }



    .options {
      position: absolute;
      left: 25%;
      top: 17vh;
      z-index: 3;
    }

    #chem, #load, #wash, #dev, #stop, #fix, #rinse, #dry {
      position: absolute;
      z-index: 3;
    }

    #chem, #load, #wash { top: 17.8vh; }

    #dev, #stop, #fix, #rinse, #dry { top: 59.5vh; }

    #chem { left: 40.6vw; }
    #load { left: 58.6vw; }
    #wash { left: 76.6vw; }
    #dev { left: 4.6vw; }
    #stop { left: 22.6vw; }
    #fix { left: 40.6vw; }
    #rinse { left: 58.6vw; }
    #dry { left: 76.65vw; }

/* Styling hyperlinks */

    /* unvisited and visited link */
    a:link, a:visited {
        color: #CC0000;
    }

    /* mouse over link */
    a:hover {
        color: #f78888;
    }

/* Sources and Credits */

    /* General */

    #sources .paper,
    #credits .paper {
      width: 34vw;
      min-width: 130px;
      max-width: 430px;
    }

    #sources .body-txt, #credits .body-txt {
      font-size: 2.8vmin;
      font-weight: normal;
      line-height: 3em;
    }

    /* Sources */

    #sources .left-cp { left: 17.25vw; }

    #sources .right-cp { left: 37.25vw; }

    #sources .paper { left: 12.75vw; }

    /* Credits */

    #credits .left-cp { left: 61.25vw; }

    #credits .right-cp { left: 81.25vw; }

    #credits .paper { left: 56.75vw; }
