/* Full bleed */

    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; /* get rid of extra space on the right */
    }

/* Responsively positioning top and bottom dots and main content */

    .flex-between {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }

    .top {
      margin-top: 0.5%;
    }

    .bottom {
      margin-top: 0.5%;
    }

/* Styling for first slide */

    body {
      background-color: black;
    }

    h1, h2 {
      color: white;
      text-align: center;
    }

    h1 {
      font-family: 'Roboto Slab', serif;
      font-size: 16vmin;
    }

    h2 {
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
      font-size: 4vmin;
      letter-spacing: 0.15em;
    }

    .slide-container {
      width: 100%;
      height: 85vh;
      background-color: #940000;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

/* Styling for slideshow */

    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
      position: relative;
    }

    /* Hide the slides by default */
    .mySlides {
        display: none;
    }

    /* nav dots / film perforations */

    .dot-container {
      text-align:center;
      margin-left: -10%;
      margin-right: -10%;
    }

    .dot {
      cursor: pointer;
      width: 2.5vw;
      height: 3vw;
      margin-left: 2.2%;
      margin-right: 2.2%;
      background-color: white;
      border-radius: 15%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #940000;
    }

/* Styling for twine that film is hung on */

    .twine {
      width: 100%;
      height: 13vh;
      margin-top: -65vh;
      z-index: 0;
    }

/* Styling for clothespins */

    .left-cp {
      height: 15%;
      width: auto;
      position: absolute;
      left: 30vw;
      top: 2vh;
      z-index: 2;
    }

    .right-cp {
      height: 15%;
      width: auto;
      position: absolute;
      left: 70vw;
      top: 2vh;
      z-index: 2;
    }

/* Styling for paper */
    .paper {
      background-color: white;
      position: absolute;
      width: 60vw;
      height: 60vh;
      top: 12.5vh;
      left: 20vw;
      z-index: 1;
      overflow: hidden;
    }

/* Styling for content on paper */

    .header-txt, .supplies {
      text-align: center;
    }

    .header-txt {
      font-family: 'Roboto Slab', serif;
      font-size: 5vmin;
      font-weight: 700;
    }

    .body-txt {
      font-family: 'Roboto', sans-serif;
      font-size: 2vmin;
      font-weight: lighter;
      padding-left: 6%;
      padding-right: 6%;
      margin-top: -2%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: -2%;
    }

    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #step1 {
      margin-top: 5%;
      width: 40%;
    }

    #step2 {
      margin-top: -2%;
      height: 50%;
    }

    #step3 {
      margin-top: 2.5%;
      height: 50%;
    }

    #step4 {
      margin-top: 2%;
      height: 45%;
    }

    #step5 {
      margin-top: 3.5%;
      height: 50%;
    }

    #step6, #step7 {
      margin-top: 3%;
      height: 50%;
    }

    #step8 {
      height: 50%;
    }

/* Positioning "film" sheets for the quiz */

    #sheet1 .left-cp {
      height: 7.5%;
      width: auto;
      position: absolute;
      left: 30vw;
      top: 2vh;
      z-index: 2;
    }

    #sheet1 .right-cp {
      height: 7.5%;
      width: auto;
      position: absolute;
      left: 70vw;
      top: 2vh;
      z-index: 2;
    }

    #sheet1 .paper {
      background-color: white;
      position: absolute;
      width: 30vw;
      height: 30vh;
      top: 12.5vh;
      left: 20vw;
      z-index: 1;
      overflow: hidden;
    }















    /* Styling for paper */


        /* Styling for twine that film is hung on */

            .twine {
              width: 100%;
              height: 13vh;
              margin-top: -65vh;
              z-index: 0;
            }
